name: Publish

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools setuptools_scm wheel build

    - name: Build packages
      run: python -m build
      working-directory: ./

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: ./dist/

  #  docs:
  #    runs-on: ubuntu-latest
  #    needs:
  #      - deploy
  #
  #    steps:
  #      - uses: actions/checkout@v4
  #
  #      - uses: actions/setup-python@v5
  #        with:
  #          python-version: 3.11
  #
  #      - name: Install dependencies
  #        run: |
  #          python -m pip install --upgrade pip
  #          pip install -r requirements.txt
  #          pip install -e .
  #          pip install -r requirements-docs.txt
  #
  #      - name: Build
  #        run: sphinx-build ./docs ./docs/_build
  #
  #      - name: Deploy
  #        uses: peaceiris/actions-gh-pages@v3.8.0
  #        with:
  #          github_token: ${{ secrets.GH_TOKEN }}
  #          publish_dir: ./docs/_build
